@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  background-image: url('https://images.theconversation.com/files/251275/original/file-20181218-27764-136332v.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=926&fit=clip');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center center; 
  image-rendering: smooth;
}
