@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  background-image: url('https://images.theconversation.com/files/251275/original/file-20181218-27764-136332v.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=926&fit=clip');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
pages-members {
  /* Set the background image URL */
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9IN3Hm5Qo5q50DpFMI_oKDALdJFPBsg09NQ&usqp=CAU');
  /* Adjust background properties as needed */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* Add any additional styles for the 'team' div */
  /* For example, you can set height, padding, etc. */
  height: 100vh;
  padding: 20px;
}
